<table width="100%" border="1">
<thead>
<tr>
<th width="25%">Theater Name</th>
<th width="25%">Movie Name</th>
<th width="25%">Time</th>
<th width="25%">Day</th>
<th width="25%"></th>
</tr>
</thead>
<tbody>
<%= render @theaters %>
</tbody>
</table>
