
<table width="100%" border="1">
<thead>
<tr>
	<th width="25%">Name</th>
	<th width="50%">Email</th>
<td><%= link_to 'Show', theater %></td>
</tr>
</thead>

<tbody>
  <%= redner @theater_name %>
</tbody>
</table>